<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Planesia</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div align="right">
        <a href="FAQ.html">FAQ</a> @*Link to Frequently Asked Question Page*@
        <a href="help.html">Help</a> @*Link to Help Page*@
    </div>
    <form id="tfnewsearch" method="get">
        <input type="text" class="tftextinput" name="q" size="21" maxlength="120">
        <input type="submit" value="search" class="tfbutton">
    </form>
    <div class="tfclear"></div>
    <div>
        <nav id="navigation">
            <a href="/Home/Index" class="navigation">Home</a>
            <a href="/Home/Map" class="navigation">Maps</a>
            <!-- <a href="Categories" class="navigation">Categories</a>
            <a href="fun-edu-game.html" class="navigation">Fun Edu-Game</a>
            <a href="campaign.html" class="navigation">Campaign</a>
            <a href="unique.html" class="navigation">Unique</a>
            <a href="news.html" class="navigation">News</a> -->
            <a href="/Home/Contact" class="navigation">Contact</a>
            
        </nav>
    </div>
    <br>
        @RenderBody()
    <nav class="nav">
        <a href="/Home/About" class="navigation">About</a>
        <!-- <a href="about.html">About</a>@*Link to About Page*@ -->
        <a href="sitemap.html">Sitemap</a> @*Link to Sitemap Page*@
        <a href="projects.html">Projects</a> @*Link to Projects Page*@
        <a href="download.html">Download</a> @*Link to Download Resources (Poster, etc) Page*@
    </nav>

    <footer>
        <p>&copy; @DateTime.Now.Year - Planesia</p>
    </footer>
</body>
</html>