<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Planesia</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="nav" align="center">
        <a href="index.html" class="navigation">Maps</a>
        <a href="sitemap.html" class="navigation">Categories</a>
        <a href="project.html" class="navigation">Fun Edu-Game</a>
        <a href="download.html" class="navigation">Campaign</a>
        <a href="download.html" class="navigation">Unique</a>
        <a href="download.html" class="navigation">News</a>
    </nav>
    @RenderBody()
    <nav class="nav" align="center">
        <a href="index.html" class="navigation">About</a>
        <a href="sitemap.html" class="navigation">Sitemap</a>
        <a href="project.html" class="navigation">Projects</a>
        <a href="download.html" class="navigation">Download</a>
    </nav>
    <footer>
        <p>&copy; @DateTime.Now.Year - Planesia</p>
    </footer>
</body>
</html>