<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Planesia</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
    <hr />
    <nav class="nav" align="center">
        <a href="index.html" class="navigation">Home</a>
        <a href="findaplant.html" class="navigation">Find a plant photo</a>
        <a href="submitaplant.html" class="navigation">Submit a plant photo</a>
        <a href="indonesiaplantmap.html" class="navigation">Indonesia Plant Map</a>
        <a href="plantnews.html" class="navigation">Plant News</a>
        <a href="people.html" class="navigation">People</a>
        <a href="about.html" class="navigation">About</a>
    </nav>
    <footer>
        <p>&copy; @DateTime.Now.Year - Planesia</p>
    </footer>
</body>
</html>
