@model IEnumerable<Planesia.Models.Campaign>

@{
    ViewBag.Title = "Campaign";
}

<body style="padding-top: 70px; color:black;">
    <p>    Create Your Campaign  @Html.ActionLink("Here", "CreateCampaign")        </p>
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div>
                            <img width="400px" height="400px" src="
                                 @Html.DisplayFor(modelItem => item.CampaignDescription)
                                 ">
                        </div>
                        <div>@Html.DisplayFor(model => item.CampaignDate)</div>
                    </div>
                }
</body>