@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Planesia StartUp<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    085828959020
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">customer@planesia.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@planesia.com</a>
</address>

<head>
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
        body {
            padding-top: 70px;
            color: black;
        }

        footer {
            padding-left: 15px;
            padding-right: 15px;
        }

        img {
            width: 370px;
            position: relative;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="row">
                <div class="col-md-4" style="border: 3px dashed rgb(4, 105, 96); border-radius: 20px; height: 412px;">
                    <a href="default.asp"><img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/wwf_zps68f17d67.png" width="300" height="412"></a></p>
                </div>

                <div class="col-md-4" style="border: 3px dashed rgb(4, 105, 96); border-radius: 20px; height: 412px;">
                    <a href="default.asp"><img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/wikipedia-logo_zps43d54e31.jpg" width="300" height="412"></a></p>
                </div>

                <div class="col-md-4" style="border: 3px dashed rgb(4, 105, 96); border-radius: 20px; height: 412px;">
                    <a href="default.asp"><img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/plantamor_zps4f3ec7a7.png" width="300" height="412"></a></p>
                </div>
            </div>
        </div>
    </div>
</body>