@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
        /*       * Style tweaks       * --------------------------------------------------       */
        body {
            padding-top: 70px;
            color: black;
        }

        footer {
            padding-left: 15px;
            padding-right: 15px;
        }

        img {
            width: 370px;
            position: relative;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="row">
                <div class="col-xs-15 col-sm-4">
                    <img src="wwf.png">
                </div>

                <div class="col-xs-15 col-sm-4">
                    <img src="plantamor.png">
                </div>

                <div class="col-xs-15 col-sm-4">
                    <img src="wikipedia-logo.jpg">
                </div>

                <div class="col-xs-15 col-sm-4">
                    <img src="plant list.png">
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    </div>
</body>