@{
    ViewBag.Title = "Maps";
}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        var map;
        function initialize()
        {
            var mapOptions =
            {
                zoom: 5,
                center: new google.maps.LatLng(-1, +118.75083)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var rafflesiaex = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Rafflesia</h1>' +
            '<div id="bodyContent">' +
            '<img height="45" weight="45" src="http://www.parasiticplants.siu.edu/Rafflesiaceae/images/RafflesiaArnFlw3.jpg"> ' +
            '<p><b>Anggrek Bulan</b>, Rafflesia is a genus of parasitic flowering plants. It contains approximately 28 species, all found in southeastern Asia, on Indonesia, Malay Peninsula, Borneo, Sumatra, Thailand and the Philippines. ' +
            '<a href = "http://en.wikipedia.org/wiki/Rafflesia"> wikipedia</a> ' +
            '</div>' +
            '</div>';

            var infowindowd = new google.maps.InfoWindow
            ({
                content: rafflesiaex
            });

            //Setting the position of the Glastonbury map marker.
            var markerPositionGlastonbury = new google.maps.LatLng(0.296953, 114.586458);

            //Setting the icon to be used with the Glastonbury map marker.
            var markerIconGlastonbury = {
                url: 'http://i1290.photobucket.com/albums/b522/RadheaDewi/OrangUtan_zps20adcda4.png',
                //The size image file.
                size: new google.maps.Size(100, 100),
                //The point on the image to measure the anchor from. 0, 0 is the top left.
                origin: new google.maps.Point(0, 0),
                //The x y coordinates of the anchor point on the marker. e.g. If your map marker was a drawing pin then the anchor would be the tip of the pin.
                anchor: new google.maps.Point(189, 116)
            };

            //Setting the shape to be used with the Glastonbury map marker.
            var markerShapeOrangutan = {
                coord: [12, 4, 216, 22, 212, 74, 157, 70, 184, 111, 125, 67, 6, 56],
                type: 'poly'
            };

            //Creating the Glastonbury map marker.
            var markerOrangutan = new google.maps.Marker({
                //uses the position set above.
                position: markerPositionOrangutan,
                //adds the marker to the map.
                map: map,
                title: 'Orangutan',
                //assigns the icon image set above to the marker.
                icon: markerIconOrangutan,
                //assigns the icon shape set above to the marker.
                shape: markerShapeOrangutan,
                //sets the z-index of the map marker.
                zIndex: 102
            });

            google.maps.event.addListener(markerOrangutan, 'click', function ()
            {
                infowindowd.open(map, markerOrangutan);
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<div class="row" style="height:100%;">
    <div class="col-md-3">
        <div class="container">
            <form>
                Filter Maps
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Flora
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Fauna
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                            Extinct
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Endangered
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Safe
                    </label>
                </div>
           </form>
            <iframe width="300" height="180" src="//www.youtube.com/embed/sFIL0l-e1j4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container" style="height:100%;">
        <div class="col-md-9" style="height: 100%;">
            <div class="container" style="height:100%;">
                <div id="map-canvas" style="height:500px; width:120%;"></div>
            </div>
        </div>
    </div>
</div>
