@{
    ViewBag.Title = "Maps";
}
@model IEnumerable<Planesia.Models.Fauna>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        var map;
        var isPlaced = false;
        var selectedPosition = new google.maps.LatLng();

        $(document).ready(function () {
            initialize();
            function initialize() {
                var mapOptions =
                {
                    zoom: 5,
                    center: new google.maps.LatLng(-1, +118.75083),
                    panControl: true,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },
                    scaleControl: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                @foreach(var item in Model)
                {
                    <text>
                        var latitude = @item.FaunaLatitude;
                        var longitude = @item.FaunaLongitude;
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(latitude , longitude),
                            map: map
                        });
                    </text>
                }
                
            }
        });
    </script>

    <div class="row" style="margin-bottom: 25px;">
        @*Kodingan kiri start here*@
        <div class="col-md-3" style="border: 3px dashed rgb(4, 105, 96); border-radius: 15px; margin-right:15px; margin-left:15px; padding: 0;">
            <div class="container">
                <iframe width="300" height="200" src="//www.youtube.com/embed/sFIL0l-e1j4" frameborder="0"></iframe>
                <form>
                    Filter Maps
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Flora
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Fauna
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Extinct
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Endangered
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Safe
                        </label>
                    </div>
                </form>
                @if (Session["UserName"] != null)
                {
                    <br>
                    <div class="container">
                        <a href="/Home/AddFauna" class="btn btn-default">Add fauna to the maps</a>
                    </div>
                    <br>
                    <div class="container">
                        <a href="/Home/AddFlora" class="btn btn-default">Add flora to the maps</a>
                    </div>
                    <br>
                }
            </div>
        </div>
        @*Kodingan kiri stop here*@

        @*Galeri Foto Kodingan start here*@
        <div class="col-md-8" style="border: 3px dashed rgb(4, 105, 96); border-radius: 15px; margin-left:30px; margin-right:10px; padding-bottom:5px; padding-top:5px;">
            <center>
                <div id="slider1_container" style="position: relative; width: 720px; height: 480px; overflow: hidden;">

                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity:0; position: absolute; display: block;
                        background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
                        </div>
                        <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                        top: 0px; left: 0px;width: 100%;height:100%;">
                        </div>
                    </div>

                    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 720px; height: 480px;
            overflow: hidden;">
                        <div>
                            <img u="image" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/3Burung_zps15601e90.jpg" />
                            <img u="thumb" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/3Burung_zps15601e90.jpg" />
                        </div>
                        <div>
                            <img u="image" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/5Bunga_zps2e91b8fb.jpg" />
                            <img u="thumb" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/5Bunga_zps2e91b8fb.jpg" />
                        </div>
                        <div>
                            <img u="image" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/2Buah_zps6cebddf7.jpg" />
                            <img u="thumb" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/2Buah_zps6cebddf7.jpg" />
                        </div>
                        <div>
                            <img u="image" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/1Gajah_zpsbbefca6f.jpg" />
                            <img u="thumb" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/1Gajah_zpsbbefca6f.jpg" />
                        </div>
                        <div>
                            <img u="image" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/BungaBangkai_zpse6897832.jpg" />
                            <img u="thumb" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/BungaBangkai_zpse6897832.jpg" />
                        </div>
                        <div>
                            <img u="image" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/4Koala_zpsabe7650b.jpg" />
                            <img u="thumb" src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/4Koala_zpsabe7650b.jpg" />
                        </div>
                    </div>


                    <div u="thumbnavigator" class="jssort07" style="position: absolute; width: 720px; height: 100px; left: 0px; bottom: 0px; overflow: hidden; ">
                        <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>

                        <div u="slides" style="cursor: move;">
                            <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 99px; HEIGHT: 66px; TOP: 0; LEFT: 0;">
                                <thumbnailtemplate class="i" style="position:absolute;"></thumbnailtemplate>
                                <div class="o">
                                </div>
                            </div>
                        </div>

                        <span u="arrowleft" class="jssora11l" style="width: 37px; height: 37px; top: 123px; left: 8px;">
                        </span>
                        <span u="arrowright" class="jssora11r" style="width: 37px; height: 37px; top: 123px; right: 8px">
                        </span>
                    </div>
                    <a style="display: none" href="http://www.jssor.com">javascript</a>
                </div>
            </center>
        </div>

    </div>
    @*Galeri Foto Kodingan stop here
        @*Kodingan Google Maps start here*@
    <div style="padding-bottom: 25px; height:100%;">
        <center style="height:100%;">
            <div id="map-canvas" style="height:500px; width:80%;"></div>
        </center>
    </div>
    @*Kodingan Google Maps stop here*@
    <br>
