@{
    ViewBag.Title = "Home";
}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        var map;
        function initialize()
        {
            //var anggrek = new google.maps.LatLng(0.296953, 114.586458);
            //var rafflesia = new google.maps.LatLng(0, 102);

            var mapOptions =
            {
                zoom: 5,
                center: new google.maps.LatLng(-1, +118.75083)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var rafflesiaex = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Rafflesia</h1>' +
            '<div id="bodyContent">' +
            '<img height="45" weight="45" src="http://www.parasiticplants.siu.edu/Rafflesiaceae/images/RafflesiaArnFlw3.jpg"> ' +
            '<p><b>Anggrek Bulan</b>, Rafflesia is a genus of parasitic flowering plants. It contains approximately 28 species, all found in southeastern Asia, on Indonesia, Malay Peninsula, Borneo, Sumatra, Thailand and the Philippines. ' +
            '<a href = "http://en.wikipedia.org/wiki/Rafflesia"> wikipedia</a> ' +
            '</div>' +
            '</div>';

            //var bintang =
            //{
            //    path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
            //    fillColor: 'green',
            //    fillOpacity: 0.8,
            //    scale: 0.15,
            //    strokeColor: 'green',
            //    strokeWeight: 1
            //};

            var infowindowd = new google.maps.InfoWindow
            ({
                content: rafflesiaex
            });

            //var markerx = new google.maps.Marker
            //({
            //    position: rafflesia,
            //    map: map,
            //    icon: bintang,
            //    title: 'Rafflesia'
            //});

            //Setting the position of the Glastonbury map marker.
            var markerPositionGlastonbury = new google.maps.LatLng(0.296953, 114.586458);

            //Setting the icon to be used with the Glastonbury map marker.
            var markerIconGlastonbury = {
                url: 'http://img3.wikia.nocookie.net/__cb20120608143358/farmville/images/thumb/f/f9/Mini_Panda-icon.png/70px-Mini_Panda-icon.png',
                //The size image file.
                size: new google.maps.Size(100, 100),
                //The point on the image to measure the anchor from. 0, 0 is the top left.
                origin: new google.maps.Point(0, 0),
                //The x y coordinates of the anchor point on the marker. e.g. If your map marker was a drawing pin then the anchor would be the tip of the pin.
                anchor: new google.maps.Point(189, 116)
            };

            //Setting the shape to be used with the Glastonbury map marker.
            var markerShapeGlastonbury = {
                coord: [12, 4, 216, 22, 212, 74, 157, 70, 184, 111, 125, 67, 6, 56],
                type: 'poly'
            };

            //Creating the Glastonbury map marker.
            var markerGlastonbury = new google.maps.Marker({
                //uses the position set above.
                position: markerPositionGlastonbury,
                //adds the marker to the map.
                map: map,
                title: 'Glastonbury Festival',
                //assigns the icon image set above to the marker.
                icon: markerIconGlastonbury,
                //assigns the icon shape set above to the marker.
                shape: markerShapeGlastonbury,
                //sets the z-index of the map marker.
                zIndex: 102
            });

            google.maps.event.addListener(markerGlastonbury, 'click', function ()
            {
                infowindowd.open(map, markerGlastonbury);
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<div class="row" style="height:100%;">
    <div class="col-md-3">
        <div class="container">
            <form>
                Filter Maps
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Flora
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Fauna
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                            Extinct
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Endangered
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Safe
                    </label>
                </div>
           </form>
            <iframe width="300" height="180" src="//www.youtube.com/embed/sFIL0l-e1j4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container" style="height:100%;">
        <div class="col-md-9" style="height: 100%;">
            <div class="container" style="height:100%;">
                <div id="map-canvas" style="height:500px; width:120%;"></div>
            </div>
        </div>
    </div>
</div>
