@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title> Planesia - Maps </title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">

    <style>
        html, body, #map-canvas
        {
            height: 90%;
            margin-left: 20px;
            margin-right: 20px;
            padding: 0px;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
        var map;
        function initialize()
        {
            var anggrek = new google.maps.LatLng(0.296953, 114.586458);
            var rafflesia = new google.maps.LatLng(0, 102);
            var mapOptions =
            {
                zoom: 5,
                center: new google.maps.LatLng(-1, +118.75083)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var rafflesiaex = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Rafflesia</h1>' +
            '<div id="bodyContent">' +
            '<img height="45" weight="45" src="http://www.parasiticplants.siu.edu/Rafflesiaceae/images/RafflesiaArnFlw3.jpg"> ' +
            '<p><b>Anggrek Bulan</b>, Rafflesia is a genus of parasitic flowering plants. It contains approximately 28 species, all found in southeastern Asia, on Indonesia, Malay Peninsula, Borneo, Sumatra, Thailand and the Philippines. ' +
            '<a href = "http://en.wikipedia.org/wiki/Rafflesia"> wikipedia</a> ' +
            '</div>' +
            '</div>';

            var bintang =
            {
                path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
                fillColor: 'green',
                fillOpacity: 0.8,
                scale: 0.15,
                strokeColor: 'green',
                strokeWeight: 1
            };

            var infowindowd = new google.maps.InfoWindow
            ({
                content: rafflesiaex
            });

            var markerx = new google.maps.Marker
            ({
                position: rafflesia,
                map: map,
                icon: bintang,
                title: 'Rafflesia'
            });

            google.maps.event.addListener(markerx, 'click', function ()
            {
                infowindowd.open(map, markerx);
            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    @*<div id="map-canvas"></div>*@
    <div id="menu" style="background-color:#FFD700;height:100%;width:20%;float:left;">
        
    </div>

    <div id="map-canvas" height:100%; width:80%;"></div>
</body>
</html>