@{
    ViewBag.Title = "Maps";
}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    
                $AutoPlayInterval: 4000,                            
                $SlideDuration: 500,                                
                $DragOrientation: 3,                                

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              
                    $ChanceToShow: 2,                               

                    $Loop: 2,                                       
                    $SpacingX: 3,                                   
                    $SpacingY: 3,                                   
                    $DisplayPieces: 6,                              
                    $ParkingPosition: 204,                          

                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$,              
                        $ChanceToShow: 2,                               
                        $AutoCenter: 2,                                 
                        $Steps: 6                                       
                    }
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$SetScaleWidth(Math.min(parentWidth, 720));
                else
                    window.setTimeout(ScaleSlider, 30);
            }

            ScaleSlider();

            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                $(window).bind('resize', ScaleSlider);
            }

        });
        var map;
        var isPlaced = false;
        var marker = new google.maps.Marker();
        var selectedPosition = new google.maps.LatLng();
        $(document).ready(function (){
            initialize();
            function initialize(){
                var mapOptions =
                {
                    zoom: 5,
                    center: new google.maps.LatLng(-1, +118.75083),
                    panControl: true, 
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL 
                    },
                    scaleControl: true, 
                    mapTypeId: google.maps.MapTypeId.ROADMAP 
                };
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                google.maps.event.addListener(map, 'click', function (event) {
                    if (markerCount==0)
                    {
                        placeMarker(event.latLng, map);
                    }
                });
            }
        });

        function placeMarker(position, map) {
            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
            markerCount++;
            var latLabel = document.getElementById('latitudel');
            var lngLabel = document.getElementById('longitudel');
            var latInp = document.getElementById('latitude');
            var lngInp = document.getElementById('longitude');
            latLabel.innerHTML = "Latitude Coordinate : " + position.lat();
            lngLabel.innerHTML = "Longitude Coordinate : " + position.lng();
            latInp.value = position.lat();
            lngInp.value = position.lng();
            map.panTo(position);
        }
    </script>

<div class="row" style="height:100%;">
    <div class="col-md-3">
        <div class="container">
            <form>
                Filter Maps
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Flora
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Fauna
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                            Extinct
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Endangered
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Safe
                    </label>
                </div>
           </form>
            <iframe width="300" height="180" src="//www.youtube.com/embed/sFIL0l-e1j4" frameborder="0"></iframe>
        </div>
        <div class="container">
            <a href="/Home/AddFauna" class="btn btn-default">Add fauna</a>
        </div>
        <div class="container">
            <a href="/Home/AddFlora" class="btn btn-default">Add flora</a>
        </div>
    </div>
    <div class="container" style="height:100%;">
        @*Galeri Foto Kodingan start here*@
        <div id="sliderFrame">
            <div id="ribbon"></div>
            <div id="slider">
                <a href="http://www.menucool.com/">
                    <img src="images/image-slider-1.jpg" alt="Welcome to Menucool.com" />
                </a>
                <a class="lazyImage" href="images/image-slider-2.jpg" title="Customizable Transition Effects">Customizable Transition Effects</a>
                <a href="http://www.menucool.com/javascript-image-slider">
                    <b data-src="images/image-slider-3.jpg" data-alt="#htmlcaption3">Image Slider</b>
                </a>
                <a class="lazyImage" href="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/3Burung_zps15601e90.jpg" title="Pure Javascript. No jQuery. No flash.">Plain Javascript Slider</a>
                <a class="lazyImage" href="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/5Bunga_zps2e91b8fb.jpg" title="#htmlcaption5">Lazy Loading Image</a>
                <a class="lazyImage" href="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/2Buah_zps6cebddf7.jpg" title="Light weight Image Slider">Light weight Image Slider</a>
                <a class="lazyImage" href="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/1Gajah_zpsbbefca6f.jpg" title="Fine tuned. Sleek & Smooth">Fine tuned. Sleek & Smooth</a>
                <a class="lazyImage" href="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/BungaBangkai_zpse6897832.jpg" title="Easy-to-Use Slider">Easy-to-Use Slider</a>
            </div>
            <div style="display: none;">
                <div id="htmlcaption3">
                    <em>HTML</em> caption. Back to <a href="http://www.menucool.com/">Menucool</a>.
                </div>
                <div id="htmlcaption5">
                    Smart Lazy Loading Image
                </div>
            </div>

            <!--thumbnails-->
            <div id="thumbs">
                <div class="thumb"><img src="images/thumb1.jpg" /></div>
                <div class="thumb"><img src="images/thumb2.jpg" /></div>
                <div class="thumb"><img src="images/thumb3.jpg" /></div>
                <div class="thumb"><img src="images/thumb4.jpg" /></div>
                <div class="thumb"><img src="images/thumb5.jpg" /></div>
                <div class="thumb"><img src="images/thumb1.jpg" /></div>
                <div class="thumb"><img src="images/thumb2.jpg" /></div>
                <div class="thumb"><img src="images/thumb3.jpg" /></div>
            </div>
        </div>
        @*Galeri Foto Kodingan stop here*@
        <br>
        <div class="col-md-9" style="height: 100%;">
            <div id="map-canvas" style="height:500px; width:120%;"></div>
        </div>
    </div>
</div>
