
@{
    ViewBag.Title = "Map";
}

<html>
<head>
    <title> Planesia - Categories </title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
</head>

<body>
    <div id="menu">
        <div id="filter-menu">
            <form>
                Filter Maps
                <br>
                <input type="checkbox" name="vehicle" value="Flora">Flora
                <input type="checkbox" name="vehicle" value="Fauna">Fauna
                <br>
                <input type="checkbox" name="vehicle" value="Extinct">Extinct
                <br>
                <input type="checkbox" name="vehicle" value="Endangered">Endangered
                <br>
                <input type="checkbox" name="vehicle" value="Safe">Safe
            </form>
        </div>
        <br>
        <input type="search">
        <br>
        <br>
        <div id="login-menu">
            <form>
                Email       : <input type="email">
                Password    : <input type="password">
            </form>
            <a href="forgot-password">Forgot password?</a>
            <input type="submit" id="button-login" name="submit" value="LOGIN">
            <br>
        </div>
        <br>
        <iframe width="250" height="180" src="//www.youtube.com/embed/sFIL0l-e1j4" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="categories"></div>
</body>

</html>