
@{
    ViewBag.Title = "Map";
}

<html>
<head>
    <title> Planesia - Categories </title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <link href="@Url.Content("~/Content/Categories.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="menu">
        <div id="filter-menu">
            <img src="http://2.bp.blogspot.com/-VNy0A0yYaSw/TjFs86sdToI/AAAAAAAAA8s/hW2Exg7ApFk/s1600/Free+ads+space+225+x+225.jpg" width="100%" height="100%">
        </div>
        <br>
        <input type="search">
        <br>
        <br>
        <div id="login-menu">
            <form>
                Email       : <input type="email">
                Password    : <input type="password">
            </form>
            <a href="forgot-password">Forgot password?</a>
            <input type="submit" id="button-login" name="submit" value="LOGIN">
            <br>
        </div>
        <br>
        <iframe width="250" height="180" src="//www.youtube.com/embed/sFIL0l-e1j4" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="categories">
        <div id="fauna">
            Fauna
            <br>
            <img src="http://sherowallpapers.files.wordpress.com/2012/02/sad-panda-wide-wallpapers.jpg" width="80%" height="30%">
        </div>
        <div id="flora">
            Flora
            <br>
            <img src="http://sherowallpapers.files.wordpress.com/2012/02/sad-panda-wide-wallpapers.jpg" width="80%" height="30%">
        </div>
    </div>
</body>

</html>