
@model Planesia.Models.campaign

@{
    ViewBag.Title = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Campaign</h2>

@*FORM*@

@using ( Html.BeginForm() )
{
    <p> Campaign Name: @Html.TextBoxFor(x => x.campaignName) </p>

    <p> Date: @Html.TextBox("", String.Format("{0:d}", Model.date.ToShortDateString()))</p>

    <p> Description: @Html.TextArea(Model.description)</p>

        <input type="submit" value="create" />
}