@{
    ViewBag.Title = "Unique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Unique</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <iframe width="300" height="250" src="//www.youtube.com/embed/mooMo5k2w50" frameborder="0" allowfullscreen>
                    
                </iframe>
            </div>
        </div>

        <div class="container">
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/BungaBangkai_zpse6897832.jpg" width="250" height="300">
                            <br>
                            <center><p class="bg-info"><b>RAFFLESIA ARNOLDII</b></p></center>
                            <br>
                            <p>
                                Rafflesia arnoldii is a member of the genus Rafflesia. It is noted for producing the largest individual flower on earth. It has a very strong and horrible odor of decaying flesh, earning it the nickname "corpse flower". It is endemic to the rainforests of Borneo and Sumatra. Although there are some plants with larger flowering organs like the titan arum (Amorphophallus titanum) and talipot palm (Corypha umbraculifera), those are technically clusters of many flowers.

                                Rafflesia arnoldii (Indonesian: padma raksasa) is one of the three national flowers in Indonesia, the other two being the white jasmine and moon orchid. It was officially recognized as a national "rare flower" (Indonesian: puspa langka) in Presidential Decree No. 4 in 1993.
                            </p>
                        </div>

                        <div class="col-md-4">
                            <img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/4Koala_zpsabe7650b.jpg" width="250" height="300">
                            <br>
                            <center><p class="bg-info"><b>KOALA</b></p></center>
                            <br>
                            <p>
                                Koala or in Latin Nepenthes sp (in English called Tropical pitcher plant) is a genus of plants belonging to the family monotipik. Plants consisting of at least 103 species has unique because it is almost entirely a carnivorous plant, a meat eater. Besides carnivores also unique in shape, size and hue pocket. Hence not a few people who maintain it. But the existence of Kantong Semar (Nepenthes) in their natural habitat instead threatened with extinction. Even june 2009 years, LIPI announced several Kantong Semar species (to avoid hunting, the species name withheld) as the rarest plants in Indonesia.
                            </p>
                            </textarea>
                        </div>

                        <div class="col-md-4">
                            <img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/2Buah_zps6cebddf7.jpg" width="250" height="300">
                            <br>
                            <center><p class="bg-info"><b>TITAN ARUM</b></p></center>
                            <br>
                            <p>
                                Amorphophallus titanum (from Ancient Greek amorphos, "without form, misshapen" + phallos, "phallus", and titan, "giant" ), known as the titan arum, is a flowering plant with the largest unbranched inflorescence in the world. The titan arum's inflorescence is not as large as that of the talipot palm, Corypha umbraculifera, but the inflorescence of the talipot palm is branched rather than unbranched.

                                Due to its odor, which is reminiscent of the smell of a decomposing mammal, the titan arum is characterized as a carrion flower, and is also known as the corpse flower, or corpse plant (Indonesian: bunga bangkai – bunga means flower, while bangkai can be translated as corpse, cadaver, or carrion). For the same reason, the title corpse flower is also attributed to the genus Rafflesia which, like the titan arum, grows in the rainforests of Sumatra.
                            </p>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>

<br>