@{
    ViewBag.Title = "Unique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Unique</title>
</head>

<body>
    <div class="row" style="height:100%;">
        <div class="col-md-3">
            <div class="container">
                <iframe width="300" height="250" src="//www.youtube.com/embed/mooMo5k2w50" frameborder="0" allowfullscreen>
                    
                </iframe>
            </div>
        </div>
        <div class="container" style="height:100%;">
            <div class="col-md-9" style="height: 100%;">
                <div class="container" style="height:100%;">
                    <img src="http://i100.photobucket.com/albums/m4/Radhea_Permata_Dewi/BungaBangkai_zpse6897832.jpg"></div>
            </div>
        </div>
    </div>
</body>