table {
    margin: auto;
    text-align: left;
    width: 85%;
    font-family: Consolas;

}

table th {
    font-size: 20pt;
}

table td {
    font-family: Calibri;
}

table a {
    color: brown;
    text-decoration: none;
}

table a:hover {
    color: grey;
    text-decoration: none;
}

#pagination {
    text-align: center;
}